/*============================================================ inicio da reserva========================================================= */
#reservas_superior {
  padding: 10px;
  text-align: center;
}

#reservas_superior label {
  font-family: Verdana;
  font-size: 13pt;
  margin-left: 20px;
  margin-right: 5px;
}

#reservas_superior input {
  padding: 10px;
}

/* =============================================================fim da reserva========================================================== */

/* =============================================================inicio do fundo 1======================================================== */
.fundo {
  background-color: #333;
  color: #fff;
}

.fundo a {
  text-decoration: none;
  font-size: 12pt;
  color: #fff;
  margin: 5px;
}

/* ==========================================================fim do fundo 1 ===============================================================*/

/* =========================================================inicio do fundo 2 =============================================================*/
.fundo2 {
  background-color: rgb(240, 248, 248);
  color: #000;
}

/* ============================================================fim do fundo 2 =============================================================*/

.fundo-branco {
  background-color: rgb(240, 248, 248);
}

body {
  background-image: url("../img/hotel1.jpg");
  background-attachment: fixed;
  background-size: 100%;
}
/*  */

.img100 {
  width: 100%;
  height: auto;
}
